{% load staticfiles %}


<link rel="stylesheet" href="{% static 'prof/IIT/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/bootstrap-theme.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/style.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/override.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/reset.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/global.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/departments_responsive.css' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/' %}" />
<link rel="stylesheet" href="{% static 'prof/IIT/' %}" />
















<link rel="stylesheet" href="{% static 'prof/MyResume/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'prof/MyResume/css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'prof/MyResume/css/animate.css' %}" />
<link rel="stylesheet" href="{% static 'prof/MyResume/css/style.css' %}" />
<!--<link rel="stylesheet" href="{% static 'prof/MyResume/' %}" />-->
<!--<link rel="stylesheet" href="{% static 'prof/MyResume/' %}" />-->
<!--<link rel="stylesheet" href="{% static 'prof/MyResume/' %}" />-->
<!--<link rel="stylesheet" href="{% static 'prof/MyResume/' %}" />-->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="css/font-awesome.css">-->
  <!--<link rel="stylesheet" href="css/animate.css">-->
  <!--<link href="css/style.css" rel="stylesheet">-->

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>




  <script src="{% static 'prof/MyResume/js/jquery.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/modernizr.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/menustick.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/parallax.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/easing.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/wow.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/smoothscroll.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/masonry.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/imgloaded.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/classie.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/colorfinder.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/gridscroll.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/contact.js' %}"></script>
  <script src="{% static 'prof/MyResume/js/common.js' %}"></script>
  <!--<script src="{% static 'prof/MyResume/' %}"></script>-->



  <style>
  .dropbtn {
    background-color: #111;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #111;
    align-content: left;
    /*padding: 10px 10px;*/
    text-decoration: none;
    display: list-item;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #333}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: list-item;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #333;
}
hr{
  margin-top: 0.25em;
  margin-bottom: 0.25em;

}
</style>
  <!-- =======================================================
    Theme Name: MyResume
    Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div class="banner row" id="banner">
        <div class="parallax text-center" style="background-image: url(http://eict.iitg.ernet.in/images/new/background/new6.jpg);">
          <div class="parallax-pattern-overlay">
            <div class="container text-center" style="height:300px;padding-top:100px;">
              <a href="http://intranet.iitg.ernet.in/" target="_blank"><img align="left"  id="site-title" class=" wow fadeInDown" wow-data-delay="0.0s" wow-data-duration="0.9s" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/IIT_Guwahati_Logo.svg/445px-IIT_Guwahati_Logo.svg.png" alt=""  /></a>
              <h2 class="intro"><a href="index.html"><font color="white">Indian Institute Of Technology</font></a></h2>
            </div>
          </div>
        </div>
      </div>    
  <div class="wrapper" id="wrapper">
    <header>
      
      <!-- <div class="menu"> -->
        <div class="navbar-wrapper navbar-static-top">
          <div class="container">
            <div class="navwrapper">
              <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                  <div class="navArea">
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="menuItem active"><a href="{% url 'prof:index' %}">Home</a></li>
                        <!-- <li class="menuItem"><a href="#specialties">Skills</a></li> -->
                        <!-- <li class="menuItem"><a href="#gallery">Portfolio</a></li> -->
                        <!-- <li class="menuItem"><a href="#feedback">Education</a></li> -->
                        <li class="menuItem">
                          <div class="dropdown">
                            <button class="dropbtn">DEPARTMENTS</button>
                            <div class="dropdown-content" align="left"><hr>
                              <a href="{% url 'prof:directory' 2 %}">Biosciences & Bioengineering</a><hr>
                              <a href="{% url 'prof:directory' 3 %}">Chemical Engineering</a><hr>
                              <a href="{% url 'prof:directory' 4 %}">Chemistry</a><hr>
                              <a href="{% url 'prof:directory' 5 %}">Civil Engineering</a><hr>
                              <a href="{% url 'prof:directory' 1 %}">Computer Science & Engineering</a><hr>
                              <a href="{% url 'prof:directory' 6 %}">Design</a><hr>
                              <a href="{% url 'prof:directory' 7 %}">Electronics & Electrical Engineering</a><hr>
                              <a href="{% url 'prof:directory' 8 %}">Humanities & Social Sciences</a><hr>
                              <a href="{% url 'prof:directory' 9 %}">Mathematics</a><hr>
                              <a href="{% url 'prof:directory' 10 %}">Mechanical Engineering</a><hr>
                              <a href="{% url 'prof:directory' 11 %}">Physics</a><hr>
                            </div>
                          </div>
                        </li>
                        <li class="menuItem"><a href="{% url 'prof:login_user' %}">LOGIN</a></li>
                        <li class="menuItem"><a href="{% url 'prof:crawl' %}">Notice Board</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> --><!--  
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    Brand and toggle get grouped for better mobile display
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    Collect the nav links/, forms, and other content for toggling
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
    </div>/.navbar-collapse
  </div>/.container-fluid
</nav>
    </header>

    <!--about us-->
    <!--<section class="aboutus" id="aboutus">-->
      <!--<div class="container">-->
        <!--&lt;!&ndash; <div class="heading text-center">-->
          <!--<h2>About Me</h2>-->
          <!--<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>-->
        <!--</div> &ndash;&gt;-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="papers text-center">-->
              <!--<img src="img/team/1.jpg" alt=""><br/>-->
              <!--<a href="#"><b>Download my resume</b></a>-->
              <!--<h4 class="">My Teacher John Vandeley</h4>-->
              <!--<p>-->
                <!--Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its-->
                <!--content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="papers text-center">-->
              <!--<img src="img/team/2.jpg" alt=""><br/>-->
              <!--<a href="#"><b>Download my resume</b></a>-->
              <!--<h4 class="">My Teacher Stephanie Hellen</h4>-->
              <!--<p>-->
                <!--Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its-->
                <!--content more readable. The time signature in sheet music visually depicts a song's rhythm, while for us, the lines of the baseline grid depict the rhythm of our content and give us guidelines.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->







    <div class="container-fluid">
<div class="row">
<div class="upfooter">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 f_mar">
<div class="row">

<div class="col-md-12  col-sm-12 col-xs-12 footer_bg">


<div class="col-md-2 col-sm-2 col-xs-12 footer_left_left">


<ul class="nav nav-pills nav-stacked ">
<li><a href=http://tic.iitg.ac.in target="_blank">Technology Incubation Centre</a></li><li><a href=http://www.iitg.ac.in/mech/Rutag-pal/index1.htm target="_blank">RuTAG-NE</a></li><li><a href=http://www.iitg.ac.in/groff/ target="_blank">Green Energy Initiative</a></li><li><a href=http://eict.iitg.ernet.in/ target="_blank">EICT Academy</a></li><li><a href=http://www.iitg.ac.in/cet/qip.html target="_blank">Quality Improvement Programme</a></li>
</ul></div>




<div class="col-md-2 col-sm-2 col-xs-12">


<ul class="nav nav-pills nav-stacked ">
<li><a href=http://www.iitg.ac.in/acad/ target="_blank">Academic Affairs</a></li><li><a href=http://www.iitg.ac.in/stud/gymkhana/ target="_blank">Students' Affairs</a></li><li><a href=http://www.iitg.ernet.in/home/pages/101>Visiting Campus</a></li><li><a href=http://www.iitg.ernet.in/home/pages/100>Web Courses</a></li><li><a href=http://www.iitg.ac.in/aa/pages/campusmap/index.php?hq target="_blank">Campus Map</a></li><li><a href=https://www.iitg.ac.in/sab/ target="_blank">Students’ Academic Board</a></li></ul>


</div>

<div class="col-md-2 col-sm-2 col-xs-12">
<ul class="nav nav-pills nav-stacked ">
<li><a href=https://webmail.iitg.ernet.in/ target="_blank">Webmail</a></li><li><a href=http://www.iitg.ernet.in/pro/internet/audit target="_blank">Audit & Annual Reports</a></li><li><a href=http://www.iitg.ernet.in/pro/internet/convo_all target="_blank">Convocation Speeches</a></li><li><a href=http://www.iitsystem.ac.in/ target="_blank">IIT Council Portal</a></li><li><a href=http://www.iitg.ernet.in/convo/ target="_blank">18th Convocation Photos</a></li></ul>


</div>

<div class="col-md-2 col-sm-2 col-xs-12">

<ul class="nav nav-pills nav-stacked ">
<li><a href=http://www.iitg.ac.in/rti target="_blank">Right To Information</a></li><li><a href=http://www.iitg.ac.in/cca/ target="_blank">Citizen Centric Administration</a></li><li><a href=http://www.iitg.ernet.in/home/pages/66>Anti-Ragging Affidavits</a></li><li><a href=http://www.iitg.ac.in/iitgicc/ target="_blank">Women's Complaint Committee</a></li><li><a href=http://www.iitg.ernet.in/eo target="_blank">Equal Opportunity Cum Special Reservation Cell</a></li></ul>


</div>

<div class="col-md-4 col-sm-2 col-xs-12 ">

<div class="col-md-12 contact_text ">


<div class="removep">
<p>
	<strong>Indian Institute of Technology Guwahati</strong><br />
	Guwahati &ndash; 781039, India<br />
	Phone: +91-361-2583000<br />
	Fax: +91-361-2690762<br />
	Email: pro[AT]iitg.ernet.in<br />
	<br />
	<a class="black" href="/home/page/52" target="_blank">Legal Disclaimer</a> | <a href="/home/page/68"><span style="color:#000000;">Contact Us</span></a></p>
<p>
	<br />

	<a href="http://www.iitg.ernet.in/phones/"><span style="color:#000000;">Telephone Directory</span></a></p>
</div>

</div>
</div>




</div>


</div>



</div>

<div class="lowfooter">
<div class="container">
<div class="row">


<div class="removep">
<p>
	<span class="for02">&copy; 2017 Indian Institute of Technology Guwahati. For queries contact webmaster[AT]iitg.ernet.in</span></p>
</div>





</div>
</div>
</div>

</div>
</div>
</div>


</div>
</div>

  </div>

  <!--<script src="{% static 'prof/MyResume/' %}"></script>-->
  <!--<script src="{% static 'prof/MyResume/' %}"></script>-->

  <!--<script src="js/jquery.js"></script>-->
  <!--<script src="js/modernizr.js"></script>-->
  <!--&lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;-->
  <!--<script src="js/bootstrap.min.js"></script>-->
  <!--<script src="js/menustick.js"></script>-->
  <!--<script src="js/parallax.js"></script>-->
  <!--<script src="js/easing.js"></script>-->
  <!--<script src="js/wow.js"></script>-->
  <!--<script src="js/smoothscroll.js"></script>-->
  <!--<script src="js/masonry.js"></script>-->
  <!--<script src="js/imgloaded.js"></script>-->
  <!--<script src="js/classie.js"></script>-->
  <!--<script src="js/colorfinder.js"></script>-->
  <!--<script src="js/gridscroll.js"></script>-->
  <!--<script src="js/contact.js"></script>-->
  <!--<script src="js/common.js"></script>-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <script>
    wow = new WOW({}).init();
  </script>
  <script type="text/javascript">
    jQuery(function($) {
      $(document).ready(function() {
        //enabling stickUp on the '.navbar-wrapper' class
        $('.navbar-wrapper').stickUp({
          parts: {
            0: 'banner',
            1: 'aboutus',
            2: 'specialties',
            3: 'gallery',
            4: 'feedback',
            5: 'contact'
          },
          itemClass: 'menuItem',
          // itemHover: 'active',
          
        });
      });

      //Google Map
      var get_latitude = $('#google-map').data('latitude');
      var get_longitude = $('#google-map').data('longitude');

      function initialize_google_map() {
        var myLatlng = new google.maps.LatLng(get_latitude, get_longitude);
        var mapOptions = {
          zoom: 14,
          scrollwheel: false,
          center: myLatlng
        };
        var map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize_google_map);
    });
  </script>
  <script src="contactform/contactform.js"></script>


</body>

</html>
