<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>NAFIDA - Responsive Personal Business Card Template</title>
		<meta name="description" content="NAFIDA - Responsive Personal Business Card Template">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- LinearIcons -->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<!-- Awesomefont -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- General CSS Settings -->
		<link rel="stylesheet" href="css/general_style.css">
		<!-- Main Style of the template -->
		<link rel="stylesheet" href="css/main_style.css">
		<!-- Reseters -->
		<link rel="stylesheet" href="css/reset_style.css">
		<!-- Fav Icon -->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body>

		<!-- Wrapper -->
		<div class="lx-wrapper" data-background="images/67l-qujb14w-fabian-irsara.jpg" data-background-color="#000000">	

			<!-- Loader -->
			<div class="lx-loader">
				<h1>NAFIDA</h1>
				<img src="images/ring.svg" alt="Loading" />
			</div>
			<!-- End Loader -->
		
			<!-- Copyright -->
			<div class="lx-copyright">
				<p>&copy; NAFIDA copyright 2017.</p>
			</div>
			<!-- End Copyright -->
			
			<!-- Main Content -->
			<div class="lx-g1-f">
				<div class="lx-main-content">					
					<div class="lx-g8-f lx-p-10">
					
						<!-- Main Menu -->
						<div class="lx-main-menu lx-transparent">
							<i class="lnr lnr-menu"></i>
							<div class="lx-main-menu-nav">
								<a href="javascript" class="lx-menu-up"><i class="fa fa-caret-up"></i></a>
								<a href="javascript" class="lx-menu-down"><i class="fa fa-caret-down"></i></a>
							</div>
							<ul>
								<li><a href="javascript:;" class="active" data-title="lx-home" data-url="index-4.html#home"><i class="lnr lnr-home"></i>Home</a></li>
								<li><a href="javascript:;" data-title="lx-knowme" data-url="index-4.html#knowme"><i class="lnr lnr-user"></i>Know Me</a></li>
								<li><a href="javascript:;" data-title="lx-skills" data-url="index-4.html#skills"><i class="lnr lnr-laptop"></i>My Skills</a></li>
								<li><a href="javascript:;" data-title="lx-resume" data-url="index-4.html#resume"><i class="lnr lnr-graduation-hat"></i>My Resume</a></li>
								<li><a href="javascript:;" data-title="lx-projects" data-url="index-4.html#projects"><i class="lnr lnr-briefcase"></i>My Projects</a></li>
								<li><a href="javascript:;" data-title="lx-blog" data-url="index-1.html#blog"><i class="lnr lnr-bullhorn"></i>Blog</a></li>
								<li><a href="javascript:;" data-title="lx-legal" data-url="index-1.html#legal"><i class="lnr lnr-pencil"></i>Legal Notice</a></li>
								<li><a href="javascript:;" data-title="lx-contact" data-url="index-4.html#contact"><i class="lnr lnr-envelope"></i>Contact</a></li>
							</ul>						
						</div>
						<!-- End Main Menu -->
						
					</div>
					<div class="lx-g4-3-f">
					
						<!-- Home -->
						<div class="lx-home">
							<div class="lx-home-content">
								<div class="lx-home-overview">
									<h1>Edo Nathan</h1>
									<em>Web developer and designer</em>
									<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut.</p>
								</div>
								<div class="lx-clear-fix"></div>
								<div class="lx-home-buttons">
									<a href="#">HIRE ME</a>
									<a href="#">DOWNLOAD MY CV</a>
								</div>								
							</div>
						</div>
						<!-- End Home -->

						<!-- Know Me -->
						<div class="lx-knowme lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-knowme-content lx-blocs-content">
								<h3><span>Know Me</span></h3>
								<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset.</p>
								<div class="lx-g2-f lx-fr">
									<div class="lx-knowme-img">
										<img src="images/pers-pic.jpg" alt="Edo Mathan" />
									</div>
								</div>								
								<div class="lx-g2-f">
									<p><span>Name</span>Edo Mathan</p>
									<p><span>Age </span>23 years</p>
									<p><span>Citizenship </span>Moroccan</p>
									<p><span>Job </span>Freelancer</p>
									<p><span>Residence </span>Casablanca</p>
									<p><span>Hometown </span>Tetouan</p>
									<p><span>Address </span>59, Rue 1, Jamila 2, CD</p>
									<p><span>Phone </span>(+212) 06 33504106</p>
									<p><span>Fax </span>(+212) 05 22346476</p>
									<p><span>Email </span>lynxtheme@gmail.com</p>
									<div class="lx-quote">
										<h4>Favorate Quote</h4>
										<p>
											<i class="fa fa-quote-left"></i>&nbsp;
											If you win silver, sooner or later people will forget you. But if you win gold, you will become an example. And examples are given not forgotten.
											&nbsp;<i class="fa fa-quote-right"></i>
										</p>
										<em>Aamir Khan, Dangal</em>
									</div>									
								</div>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
						<!-- End Know Me -->						

						<!-- Skills -->
						<div class="lx-skills lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-skills-content lx-blocs-content">
								<h3><span>Skills</span></h3>
								
								<!-- Programming Skills -->
								<div class="lx-skills-item">
									<h4>Programming languages that I work with</h4>
									<div class="lx-g2-f">
										<div class="lx-skills-description lx-mr-25 lx-mb-40">
											<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut.</p>
											<p>Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset.</p>
										</div>
									</div>
									<div class="lx-g2-f">
									
										<!-- Bars -->
										<div class="lx-bars-chart lx-ml-25">
											<div class="lx-bar" data-max="100">
												<p>HTML5</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="85">
												<p>CSS3</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="90">
												<p>JQuery</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="80">
												<p>PHP</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
										</div>
										<!-- End Bars -->
										
									</div>
									<div class="lx-clear-fix"></div>
								</div>
								<!-- End Programming Skills -->
								
								<!-- Services -->
								<div class="lx-skills-item">
									<h4>Services That I Provide</h4>
									
									<!-- Boxs -->
									<div class="lx-g4-f">
										<div class="lx-box">
											<i class="lnr lnr-laptop-phone"></i>
											<h4>WEB DESIGN & UI</h4>
											<p>Lorem ipsum dolor sit amet consectetur, adipiscing elit ubique.</p>
										</div>
									</div>
									<div class="lx-g4-f">
										<div class="lx-box">
											<i class="lnr lnr-layers"></i>
											<h4>WIREFRAMES</h4>
											<p>Lorem ipsum dolor sit amet consectetur, adipiscing elit ubique.</p>
										</div>
									</div>
									<div class="lx-g4-f">
										<div class="lx-box active">
											<i class="lnr lnr-diamond"></i>
											<h4>VISUAL DESIGN</h4>
											<p>Lorem ipsum dolor sit amet consectetur, adipiscing elit ubique.</p>
										</div>
									</div>
									<div class="lx-g4-f">
										<div class="lx-box">
											<i class="lnr lnr-smartphone"></i>
											<h4>MOBILE APP DESIGN</h4>
											<p>Lorem ipsum dolor sit amet consectetur, adipiscing elit ubique.</p>
										</div>
									</div>
									<div class="lx-clear-fix"></div>
									<!-- End Boxs -->
									
								</div>
								<!-- End Services -->
								
								<!-- Number -->
								<div class="lx-skills-item">
									<h4>Numbers that I'm proud of</h4>
									
									<!-- Numbers -->	
									<div class="lx-g4-f">
										<div class="lx-numbers">
											<h4>139</h4>
											<p>Satisfied Client</p>
										</div>
									</div>
									<div class="lx-g4-f">
										<div class="lx-numbers">
											<h4>300</h4>
											<p>Realized Project</p>
										</div>
									</div>
									<div class="lx-g4-f">
										<div class="lx-numbers">
											<h4>234</h4>
											<p>Appereciations</p>
										</div>
									</div>	
									<div class="lx-g4-f">
										<div class="lx-numbers">
											<h4>1257</h4>
											<p>Purchases</p>
										</div>
									</div>	
									<div class="lx-clear-fix"></div>
									<!-- End Numbers -->
									
								</div>
								<!-- End Numbers -->

								<!-- Languages -->
								<div class="lx-skills-item">
									<h4>Languages that I speak</h4>
									<div class="lx-g2-f">
									
										<!-- Bars -->
										<div class="lx-bars-chart lx-mr-25">
											<div class="lx-bar" data-max="100">
												<p>ARABIC</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="85">
												<p>ENGLISH</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="80">
												<p>FRENCH</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>
											<div class="lx-bar" data-max="70">
												<p>SPANISH</p>
												<div class="lx-bar-counter">0</div>
												<div class="lx-bar-bg">
													<div class="lx-bar-fill">
													</div>
												</div>
											</div>	
										</div>
										<!-- End Bars -->
										
									</div>
									<div class="lx-g2-f">
										<div class="lx-skills-description lx-ml-25 lx-mt-40">
											<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut.</p>
											<p>Ius illum vocent mediocritatem an, cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset.</p>
										</div>
									</div>
									<div class="lx-clear-fix"></div>
								</div>
								<!-- End Languages -->	
								
							</div>
						</div>
						<!-- End Skills -->
						
						<!-- Resume -->
						<div class="lx-resume lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-resume-content lx-blocs-content">
								<h3><span>Resume</span></h3>
								
								<!-- Experiences -->
								<div class="lx-resume-item">
									<h4>Experiences</h4>
									<ul>
										<li>
											<h4>Mid-level designer at Envato Market</h4>
											<span>June 2016 - Up to now</span>
											<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										</li>							
										<li>
											<h4>Web designer & Developer at Google </h4>
											<span>February 2015 - Mai 2016</span>
											<p>Purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare.</p>
										</li>							
										<li>
											<h4>Front-end designer at Pixel Touch</h4>
											<span>Mai 2013 - January 2015</span>
											<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. </p>
										</li>							
										<li>
											<h4>Art & Creative director at Ebisoft</h4>
											<span>June 2012 - April 2013</span>
											<p>Sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										</li>
									</ul>							
								</div>
								<!-- End Experiences -->
								
								<!-- Studies -->
								<div class="lx-resume-item">
									<h4>Studies</h4>
									<ul>
										<li>
											<h4>Cambridge Universirty</h4>
											<span>Spetember 2009 - June 2012</span>
											<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. </p>
										</li>
										<li>
											<h4>ISTA Ben Msik Training Center</h4>
											<span>September 2007 - June 2009</span>
											<p>Purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare.</p>
										</li>
										<li>
											<h4>Mly Ismail High School</h4>
											<span>September 2003 - June 2006</span>
											<p>Sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										</li>
									</ul>							
								</div>
								<!-- End Studies -->
								
							</div>
						</div>
						<!-- End Resume -->
		
						<!-- My Projects -->
						<div class="lx-projects lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-projects-content lx-blocs-content">	
								<h3><span>Projects</span></h3>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-mr-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/DJI_0118.jpg" alt="Combine Harvester Pouring Grain into Trailer Towed by Tractor" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Combine Harvester Pouring Grain into Trailer Towed by Tractor</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-ml-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/HNCK2530.jpg" alt="Outdoor Garden Office Working Desk With Laptop" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Outdoor Garden Office Working Desk With Laptop</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-clear-fix"></div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-mr-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/P1020724.jpg" alt="Black And White Locked Fence Close Up" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Black And White Locked Fence Close Up</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has. Pro ei phaedrum maluisset.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-ml-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/HNCK9221.jpg" alt="Prague Old Town Square Houses and Panorama" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Prague Old Town Square Houses and Panorama</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-clear-fix"></div>								
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-mr-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/DSC01002.jpg" alt="Charles Bridge and Vltava River" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Charles Bridge and Vltava River</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has. Pro ei phaedrum maluisset.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-ml-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/DSC01103.jpg" alt="Astronomical Clock in the Old Town Square" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Astronomical Clock in the Old Town Square</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-clear-fix"></div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-mr-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/HNCK4575.jpg" alt="Sweet Yummy Chocolate Cake" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Sweet Yummy Chocolate Cake</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-g2-f">
									<div class="lx-projects-item lx-ml-25">
										<i class="fa fa-search-plus"></i>
										<div class="lx-projects-item-img">
											<img src="images/HNCK9879.jpg" alt="Baking Christmas Lovely Hearts Sweets" />
											<!-- Mini Side -->
											<div class="lx-mini-slide">
												<!-- Mini Side Nav -->
												<div class="lx-mini-slide-nav">
													<i class="fa fa-angle-left"></i>
													<i class="fa fa-angle-right"></i>
												</div>
												<!-- Mini Side Items -->
												<ul>
													<li><img src="images/DJI_0118.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01002.jpg" alt="alternative title" /></li>
													<li><img src="images/DSC01103.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2206.jpg" alt="alternative title" /></li>
													<li><img src="images/HNCK2530.jpg" alt="alternative title" /></li>
												</ul>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-projects-item-info">
											<h4><a href="#" target="_blank">Baking Christmas Lovely Hearts Sweets</a></h4>
											<p>Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has.</p>
											<input type="hidden" data-type="paragraph" data-content="Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque." />
											<input type="hidden" data-type="feature" data-title="Detail 1" data-content="Quisque" />
											<input type="hidden" data-type="feature" data-title="Detail 2" data-content="semper" />
											<input type="hidden" data-type="feature" data-title="Detail 3" data-content="justo" />
											<input type="hidden" data-type="feature" data-title="Detail 4" data-content="risus" />
											<input type="hidden" data-type="feature" data-title="Detail 5" data-content="Donec" />
											<input type="hidden" data-type="feature" data-title="Detail 6" data-content="venenatis" />
										</div>
									</div>
								</div>
								<div class="lx-clear-fix"></div>
								<!-- End Portfolio -->
								
							</div>
						</div>
						<!-- End Projects -->
						
						<!-- Blog -->
						<div class="lx-blog lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-blog-content lx-blocs-content">
								<h3><span>Blog</span></h3>
								<div class="lx-blog-item">
									<div class="lx-blog-img">
										<p>January 19, 2017 20:20</p>
										<img src="images/blog1.jpg" alt="Black And White Locked Fence Close Up" />
									</div>
									<div class="lx-blog-info">
										<h4><a href="single-post-transparent.html">Black And White Locked Fence Close Up</a></h4>
										<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										<em>By Edo Nathan</em>
									</div>
								</div>
								<div class="lx-blog-item">
									<div class="lx-blog-img">
										<p>January 19, 2017 20:20</p>
										<img src="images/blog2.jpg" alt="Baking Christmas Lovely Hearts Sweets" />
									</div>
									<div class="lx-blog-info">
										<h4><a href="single-post-transparent.html">Baking Christmas Lovely Hearts Sweets</a></h4>
										<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										<em>By Edo Nathan</em>
									</div>
								</div>
								<div class="lx-blog-item">
									<div class="lx-blog-img">
										<p>January 19, 2017 20:20</p>
										<img src="images/blog3.jpg" alt="Astronomical Clock in the Old Town Square" />
									</div>
									<div class="lx-blog-info">
										<h4><a href="single-post-transparent.html">Astronomical Clock in the Old Town Square</a></h4>
										<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
										<em>By Edo Nathan</em>
									</div>
								</div>
								<!-- Blog Load More Button -->
								<div class="lx-blog-load-more">
									<a href="javascript:;" class="lx-load-more-btn"><i class="fa fa-refresh"></i>&nbsp;Load more ...</a>
								</div>								
							</div>
						</div>
						<!-- End Blog -->
						
						<!-- Contact -->
						<div class="lx-contact lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-contact-content lx-blocs-content">
								<h3><span>Contact</span></h3>
								
								<!-- Contact Boxes -->
								<div class="lx-g3-f">
									<div class="lx-box-contact">
										<i class="fa fa-mobile"></i>
										<strong>Call or send me a fax</strong>
										<p>(+212) 06 33504106</p>
									</div>
								</div>
								<div class="lx-g3-f">
									<div class="lx-box-contact">
										<i class="fa fa-envelope-o"></i>
										<strong>Send me an email</strong>
										<p>nafida@gmail.com</p>
									</div>
								</div>
								<div class="lx-g3-f">
									<div class="lx-box-contact">
										<i class="fa fa-map-marker"></i>
										<strong>Pay me a visit</strong>
										<p>59, Rue 1, Jamila 2, CD</p>
									</div>
								</div>
								<!-- End Contact Boxes -->
								
								<div class="lx-clear-fix"></div>
								<form action="#" method="post" autocomplete="off">
									<h4>LEAVE ME A MESSAGE</h4>
									<p>You can ask me about anything here, just type your name and e-mail and I'll answer you as soon as possible.</p>
									<div class="lx-contact-saved"></div>
									<div class="lx-contact-field">
										<input type="text" name="fullname" placeholder="Your fullname here ..." />
										<i class="fa fa-user"></i>
									</div>
									<div class="lx-contact-field">
										<input type="text" name="email" placeholder="Your e-mail here ..." />
										<i class="fa fa-envelope-o"></i>
									</div>
									<div class="lx-contact-field">
										<textarea name="message" placeholder="Your message here ..."></textarea>
										<i class="fa fa-comment"></i>
									</div>
									<input type="button" name="submit" value="GET IN TOUCH" />
								</form>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
						<!-- End Contact -->

						<!-- Legal -->
						<div class="lx-legal lx-blocs">
							<div class="lx-blocs-head">
								<ul>
									<li><a href="javascript:;"><i class="lnr lnr-frame-expand"></i></a></li>
									<li><a href="javascript:;"><i class="lnr lnr-cross"></i></a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<div class="lx-legal-content lx-blocs-content">
								<h3><span>Legal Notice</span></h3>
								<div class="lx-legal-text">
									<h3>Nam congue</h3>
									<p>Purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare.</p>
									<p>Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
									<ul>
										<li>Quisque semper justo at risus.</li>
										<li>Turpis vel hendrerit interdum.</li>
										<li>Nam congue, pede vitae dapibus aliquet.</li>
									</ul>
									<h3>Vel tempus metus leo</h3>
									<p>Quisque semper justo at risus. Donec <a href="#">venenatis</a>, turpis vel hendrerit interdum, dui ligula ultricies purus, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
									<ul>
										<li>Nam congue, pede vitae dapibus aliquet.</li>
										<li>Purus, sed posuere libero dui id orci.</li>
										<li>Turpis vel hendrerit interdum.</li>
									</ul>
									<p>Purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare.</p>
								</div>
							</div>
						</div>
						<!-- End Legal -->							
					</div>
					<div class="lx-g8-f">
					
						<!-- Side Bar -->
						<div class="lx-side-bar">
							<div class="lx-calendar">
								<h4 class="lx-month">FEB</h4>
								<h4 class="lx-day">20</h4>
								<h4 class="lx-year">2017</h4>
							</div>
							<div class="lx-calendar">
								<h4 class="lx-time">10:12:20</h4>
							</div>
							<div class="lx-social-media">
								<ul>
									<li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- End Side Bar -->
						
					</div>
				</div>
			</div>
			<!-- End Main Content -->
			
			<!-- Popup -->
			<div class="lx-popup">
				<div class="lx-popup-inside">
					<a href="javascript:;"><i class="fa fa-caret-left"></i></a>
					<a href="javascript:;"><i class="fa fa-caret-right"></i></a>
					<div class="lx-popup-content">
						<div class="lx-popup-image">
							<a href="javascript:;"><i class="lnr lnr-cross"></i></a>
							<img src="#" alt="image title here" />
						</div>
						<div class="lx-popup-infos">

						</div>			
						<div class="lx-clear-fix"></div>
						<div class="lx-popup-details">
							<ul>
								<li><span></span></li>
								<li><span></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Popup -->	
			
			<div class="lx-clear-fix"></div>
		</div>
		<!-- End Wrapper -->
		
		<!-- JQuery -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<!-- Popup Script -->
		<script src="js/jquery.popup.js"></script>	
		<!-- Main Script -->
		<script src="js/script.js"></script>		
	</body>
</html>