
        {% load staticfiles %}

{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}
<link rel="stylesheet" href="{% static 'prof/bootstrap.min.css' %}" />

<title>Shadow Login Form a Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shadow Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'prof/loginTemplate/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
	<!-- main -->
    {% block body %}

	<div class="main-agileinfo slider ">
		<div class="items-group">
			<div class="item agileits-w3layouts">
				<div class="block text main-agileits">
					<div class="login-form loginw3-agile">
						<div class="agile-row">
							<h1>Register</h1>
							<div class="login-agileits-top">
                                {% if error_message %}
                                    <p><strong>{{ error_message }}</strong></p>
                                {% endif %}
								<form action="{% url 'prof:register' %}" role="form" method="post" enctype="multipart/form-data">
									<p>User Name </p>
									<input type="text" class="name" name="username"/>
                                    <p>Email </p>
									<input type="text" class="name" name="email"/>
									<p>Password</p>
									<input type="password" class="password" name="password"/>
<br><br>
									<button type="submit" class="btn btn-lg btn-success">Submit</button>
								</form>
							</div>
							<div class="login-agileits-bottom wthree">
							    <h6>
                                Already have an account? <a href="{% url 'prof:login_user' %}">Click here</a> to Log in.
                            </h6>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}